.homesearchparent {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    opacity: 0;
    transition: .5s
}


.homesearch_main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.homesearchinputcontainter {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bannerimage_holder {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerimage {
    display: block;
    width: 80%;
    height: auto;
    z-index: 1;
    transition: .25s;
}

.image_background {
    height: 400px;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 50%;
    transition: 1s;
    background-color: #bb7b57;
}

.changetext {
    width: 100%;
    transition: 1s;
    text-align: center;
    color: #F16529;
}

.innertext {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    line-height: 1.1;
}


.fadedownup {
    animation: fadeupdown 2s 1;
}


@keyframes fadeupdown {
    0% {
        position: relative;
        top: 0px;
        opacity: 1;
    }

    40% {
        position: relative;
        top: 50px;
        opacity: 0;
    }

    60% {
        position: relative;
        top: -50px;
        opacity: 0;
    }

    80% {
        position: relative;
        top: -25px;
        opacity: 0;
    }

    100% {
        position: relative;
        top: 0px;
        opacity: 1;
    }
}


@media (max-width:900px) {

    .homesearchparent {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homesearch_main {
        width: 500px;
        height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 1;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .homesearchinputcontainter {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 100px;
    }

    .bannerimage_holder {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .bannerimage {
        display: block;
        width: 80%;
        height: auto;
        z-index: 1;
    }

    .image_background {
        height: 400px;
        aspect-ratio: 1/1;
        position: absolute;
        border-radius: 50%;
    }

    .changetext {
        position: absolute;
        width: 100%;
        transition: 1s;
        text-align: center;
        top: -70px;
        color: #F16529;
    }

    .innertext {
        font-size: 40px;
        font-weight: 600;
        margin: 0;
        line-height: 1.1;
    }

}

@media (max-width:400px) {

    .homesearchparent {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homesearch_main {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 1;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .homesearchinputcontainter {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 100px;
    }

    .bannerimage_holder {
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0px;
        left: 0px;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .bannerimage {
        display: block;
        width: 80%;
        height: auto;
        z-index: 1;
    }

    .image_background {
        height: 300px;
        aspect-ratio: 1/1;
        position: absolute;
        border-radius: 50%;
    }

    .changetext {
        position: absolute;
        width: 100%;
        transition: 1s;
        text-align: center;
        top: -70px;
        color: #F16529;
    }

    .innertext {
        font-size: 40px;
        font-weight: 600;
        margin: 0;
        line-height: 1.1;
    }
}